DATABASE_URL="postgresql://postgres:purBI-sistem@db.yltpagvvbedwjlneevua.supabase.co:5432/postgres"
BACKEND_TOKEN_SECRET=cbp_backend_secret_2026
SYSTEM_USER_EMAIL=aiko@local.dev
JWT_SECRET=0d7301d0-e4ae-4af0-8ee6-1042e65e3646
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=12
