{
    "sourceFile": ".env.example",
    "activeCommit": 0,
    "commits": [
        {
            "activePatchIndex": 1,
            "patches": [
                {
                    "date": 1780902044589,
                    "content": "Index: \n===================================================================\n--- \n+++ \n"
                },
                {
                    "date": 1780902940156,
                    "content": "Index: \n===================================================================\n--- \n+++ \n@@ -1,3 +1,6 @@\n DATABASE_URL=\r\n BACKEND_TOKEN_SECRET=\r\n SYSTEM_USER_EMAIL=owner@local.dev\r\n+JWT_SECRET=\r\n+JWT_EXPIRES_IN=7d\r\n+BCRYPT_SALT_ROUNDS=12\r\n"
                }
            ],
            "date": 1780902044589,
            "name": "Commit-0",
            "content": "DATABASE_URL=\r\nBACKEND_TOKEN_SECRET=\r\nSYSTEM_USER_EMAIL=owner@local.dev\r\n"
        }
    ]
}